<div class="col-md-6 col-md-offset-3" ng-controller="loginController">
    <h2>Login</h2>
    <form name="form" role="form" ng-submit="form.$valid && vm.login()">
        <div class="form-group">
            <input class="form-control" type="text" id="name" placeholder="username" ng-model="vm.UserName" />
        </div>
        <div class="form-group">
            <input class="form-control" type="password" id="pass" placeholder="password" ng-model="vm.Password" />
        </div>
        <button ng-disabled="form.$pristine|| form.$invalid || vm.loading" type="submit" class="btn btn-default" ng-click="login()">Login</button>
    </form>
</div>