<div class="navbar navbar-inverse navbar-fixed-top" ng-controller="userTemplateController" ng-init="changeStateToUserStats()">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">User dashboard</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav" ng-controller="signOutController">
                <li>
                     <a ui-sref="usertemplate.stats">Stats</a>
                </li>
                <li>
                    <a ui-sref="usertemplate.entries">Entries</a>
                </li>
                <li>
                    <a ng-click="logout()">Sign out</a>
                </li>
            </ul>
        </div>
    </div>
</div> 
<br />
<div ui-view="userview">

</div>