<div ng-controller="userStatsController">
    <div class="container-fluid">
        
        <div class="col-md-offset-1">
            <div class="col-md-6">
                <div>
                    <h5>This month:</h5>
                    <ol>
                        <li>
                            Vacation time:
                        </li>
                        <li>
                            Sickness time:
                        </li>
                        <li>
                            Compensation time:
                        </li>
                        <li>
                            Compensation time TO DO:
                        </li>
                    </ol>
                    <h5>This year:</h5>
                    <ol>
                        <li>
                            Vacation left:
                        </li>
                        
                   </ol>
                    <h5>Previous month:</h5>         
                    <ol>
                        <li>
                            Hours difference:
                        </li>
                    </ol>
                        
                </div>
            </div>
        </div>
    </div>
</div>
