<div ng-controller="userStatsController">
    <div class="container-fluid">
        
        <div class="col-md-offset-1">
            <div class="col-md-6">
                <div>
                    <h5>This month:</h5>
                    <ol>
                        <li>
                            Vacation time: [days]
                        </li>
                        <li>
                            Sickness time: [days]
                        </li>
                        <li>
                            Compensation time: [hours]
                        </li>
                        <li>
                            Compensation time TO DO: [hours]
                        </li>
                    </ol>
                    <h5>This year:</h5>
                    <ol>
                        <li>
                            Vacation left(with old vacation): [days] 
                        </li>
                        
                   </ol>
                    <h5>Previous month:</h5>         
                    <ol>
                        <li>
                            Hours difference: [hours]
                        </li>
                    </ol>
                    <hr />   
                </div>
            </div>
        </div>
    </div>
</div>
